* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    background-color: #f0f4f8;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    color: #1e293b;
}

.login-box {
    background: white;
    padding: 48px;
    border-radius: 16px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
    width: 100%;
    
    /* AQUI VOCÊ CONTROLA A LARGURA */
    max-width: 500px; 
    
    transition: transform 0.3s ease;
}

/* Marca */
.brand { font-size: 2.5rem; font-weight: 800; text-align: center; margin-bottom: 4px; letter-spacing: -1px; }
.brand span { color: #0056b3; }
header p { text-align: center; color: #64748b; font-size: 0.95rem; margin-bottom: 40px; font-weight: 500; }

/* Input Group */
.input-group { position: relative; margin-bottom: 24px; }

.input-group input { 
    width: 100%; 
    padding: 16px 12px 16px 16px; 
    border: 1px solid #cbd5e1; 
    border-radius: 8px; 
    outline: none; 
    font-size: 1rem;
    background: #fff;
    transition: all 0.2s;
    color: #334155;
}

.input-group input:focus { border-color: #0056b3; box-shadow: 0 0 0 3px rgba(0, 86, 179, 0.1); }

/* Rótulo Flutuante (Floating Label) */
.input-group label { 
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    padding: 0 4px;
    color: #64748b;
    font-size: 1rem;
    pointer-events: none;
    transition: 0.2s ease all;
}

.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
    top: 0;
    font-size: 0.8rem;
    color: #0056b3;
    font-weight: 600;
}

/* Ícone de ver senha */
.toggle-pass {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #94a3b8;
    display: flex;
    align-items: center;
}
.toggle-pass:hover { color: #0056b3; }

/* Botão */
.btn-login {
    width: 100%; 
    padding: 16px; 
    background: #0056b3; 
    color: white; 
    border: none;
    border-radius: 8px; 
    font-weight: 600; 
    font-size: 1rem;
    cursor: pointer; 
    transition: background 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.btn-login:hover { background: #004494; transform: translateY(-1px); }
.btn-login:disabled { background: #94a3b8; cursor: not-allowed; transform: none; }