/* Reseta margens padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.intro-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Gradiente radial para dar profundidade ao centro */
    background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 90%);
}

#main-logo {
    font-family: 'Bebas Neue', sans-serif;
    color: #E50914; /* Vermelho Netflix */
    font-size: 120px;
    letter-spacing: 5px;
    opacity: 0;
    
    /* Executa a animação: nome, duração, tipo de transição, mantém estado final */
    animation: netflixIntro 4s ease-in-out forwards;
}

@keyframes netflixIntro {
    0% {
        opacity: 0;
        transform: scale(0.6);
        filter: blur(20px);
    }
    30% {
        opacity: 1;
        filter: blur(0px);
        transform: scale(1);
    }
    100% {
        opacity: 1;
        transform: scale(1.4); /* O zoom continua crescendo lentamente */
    }
}