/* --- users.css --- */
.user-name-bold { 
    font-weight: 600; 
    color: var(--primary-blue); 
}

.status-badge.bloqueado { 
    background-color: #FCE8E6; 
    color: #C5221F; 
    border: 1px solid #FAD2CF; 
}

.status-badge.pendente {
    background-color: #FEF7E0;
    color: #B06000;
    border: 1px solid #FEEFC3;
}

.content-area { background-color: #FFFFFF; }
th { background-color: #F9FAFB; border-bottom: 1px solid var(--border-color); }